@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');



.App {
  background-image: url("/imagens/Foto 3Mosq.png");
  min-width: 100%;
  min-height: 100%;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: bold;
  background-color: #2C6CA3;
}

.navbar ul {
  list-style: none;
  text-align: right;
}

.navbar ul li {
  color: black;
  font-size: 2em;
  padding-right: 20px;
  display: inline;
}

/* ####### SEÇÃO MAIN ########## */

.main-section {
  height: 100vh;
  background-color:transparent;
}

.main-section p {
  font-family: 'Montserrat';;
  text-align: center;
  position: relative;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.main-section p h1 {
  font-size: 3em;
  font-weight: bold;
  color: black;
}

.main-section p h2{
  font-size: 2em;
  font-weight: bold;
  color: black;
  opacity: 70%;
}

#btn-main {
  font-size: 1.1em;
  font-weight: bold;
  width: 14vw;
  height: 6vh;
  background: #97C4E7 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000006E;
  border: 5px solid #707070;
  border-radius: 32px;
  cursor: pointer;
}

/* ####### SEÇÃO RECUROS ########## */

.recursos-section {
  height: 41vh;
  background-color:whitesmoke;
  text-align: center;
}

.recursos-section ul {
  list-style: none;
}

.recursos-section ul li {
  color: rgb(24, 23, 23);
  display: inline-table;
  padding-inline-start: 7%;
  padding-inline-end: 7%;
}


.recursos-section img {
  width: 250px;
}

.recursos-section p {
  font-weight: bold;
  font-size: 1.3em;
  color: #97C4E7;
}

.sub-recursos {
  height: 25vh;
  background-color: #2C6CA3;
  text-align: center;
  margin-top: -1%; /* CORRIGIR ISSO */
}

.sub-recursos ul {
  list-style: none;
  text-align: center;
}

.sub-recursos ul li {
  color: #F4F9A7;
  font-size: 1em;
  padding-top: 20px;
  display: inline-block;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
  vertical-align: top;
}

/* ####### SEÇÃO LOGIN ########## */

.login-section {
  height: 50vh;
  background-color: transparent;
}


.login-box {
  margin-top: 9%;
  margin-left: 40%;
  text-align: left;
  width: 26vw;
  height: 27vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 78px #474747D9;
  border: none;
}


.login-box p{
  position: relative;
  top: 10%;
  width: 100%;
  margin-left: 4%;
  color: #2C6CA3;
  font-family: 'Montserrat';
  font-size: 0.9em;
  font-weight: bold;
}


.login-box input {
  position: relative;
  top: 50%;
  margin-top: 13%;
  text-align: center;
}

#btn-enviar {
  background: #2C6CA3 0% 0% no-repeat padding-box;
  color: white;
  font: 'Montserrat';
  font-size: 0.8em;
  font-weight: bold;
  width: 6vw;
  height: 3.5vh;
  border: none;
  cursor: pointer;
}

#txt-enviar {
  margin-left: 4%;
  width: 14vw;
  height: 2.8vh
}

/* ####### SEÇÃO RODAPÉ ########## */

.rodape-section {
  height: 30vh;
  background-color: #2C6CA3;
  text-align: left;
}

.rodape-infos ul{
  list-style: none;
  font-family: 'Montserrat';
  font-size: 0.4em;
}

.rodape-infos ul li {
  display: inline-table;
  padding-left: 10%;
  padding-right: 10%;
  color: #F4F9A7;
}

.rodape-icons img{
  width: 50px;
  float: right;
  position: relative;
  margin-right: 1%;
  margin-top: -1%;
}

.rodape-brand {
  font-family: 'Montserrat';
  font-size: 0.8em;
  color: whitesmoke;
  float: right;
  position: relative;
  margin-right: -9.8%;
  margin-top: 7.5%;
}