@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');



.App {
  text-align: center;
  background-image: url("/imagens/Foto 3Mosq.png");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}